* {
  margin: 0px;
  padding: 0px;
}

#content {
  width: 100%;
  height: 100%;
  /*width: 600px;
  height: 300px;*/
  position: absolute;
  overflow: hidden;
}

.content-wrap-bg {
  position: absolute;;
  z-index: 3;
}

.content-sky {
  position: absolute;;
  z-index: 2;
}

.content-car {
  position: fixed;
  /*min-width: 1200px;*/
  width: 100%;
  bottom: 35px;
  z-index: 35;
}

.animals {
  display: none;
  width: 300px;
  height: 300px;
  position: absolute;
  z-index: 3;
  top: 0px;
  right: 0px;
  -moz-transform:scale(0.6);
  -webkit-transform:scale(0.6);
  -o-transform:scale(0.6);
  transform: scale(0.6);
}
#daxiang {
  background: url('../pic/animals/daxiang.gif');
}
#baozi {
  background: url('../pic/animals/baozi.gif');
}
#fenghuang {
  background: url('../pic/animals/fenghuang.gif');
}
#banma {
  background: url('../pic/animals/banma.gif');
}
#changjinglu {
  background: url('../pic/animals/changjinglu.gif');
}
#dog {
  background: url('../pic/animals/dog.gif');
}
#houzi {
  background: url('../pic/animals/houzi.gif');
}
#ji {
  background: url('../pic/animals/ji.gif');
}
#laohu {
  background: url('../pic/animals/laohu.gif');
}
#laoying {
  background: url('../pic/animals/laoying.gif');
}
#long {
  background: url('../pic/animals/long.gif');
}
#laoshu {
  background: url('../pic/animals/laoshu.gif');
}
#yang {
  background: url('../pic/animals/yang.gif');
}
#she {
  background: url('../pic/animals/she.gif');
}
#niu {
  background: url('../pic/animals/niu.gif');
}
#panda {
  background: url('../pic/animals/panda.gif');
}
#shizi {
  background: url('../pic/animals/shizi.gif');
}
#tuzi {
  background: url('../pic/animals/tuzi.gif');
}
#qie {
  background: url('../pic/animals/qie.gif');
}
#pig {
  background: url('../pic/animals/pig.gif');
}





.new-daxiang {
  
  background: url('../pic/animals/daxiang.png') !important;
}
.new-baozi {
  
  background: url('../pic/animals/baozi.png')!important;
}
.new-fenghuang {
  
  background: url('../pic/animals/fenghuang.png')!important;
}
.new-banma {
  
  background: url('../pic/animals/banma.png')!important;
}
.new-changjinglu {
  
  background: url('../pic/animals/changjinglu.png')!important;
}
.new-dog {
  
  background: url('../pic/animals/dog.png')!important;
}
.new-houzi {
  
  background: url('../pic/animals/houzi.png')!important;
}
.new-ji {
  
  background: url('../pic/animals/ji.png')!important;
}
.new-laohu {
  
  background: url('../pic/animals/laohu.png')!important;
}
.new-laoying {
  
  background: url('../pic/animals/laoying.png')!important;
}
.new-long {
  
  background: url('../pic/animals/long.png')!important;
}
.new-laoshu {
  
  background: url('../pic/animals/laoshu.png')!important;
}
.new-yang {
  
  background: url('../pic/animals/yang.png')!important;
}
.new-she {
  
  background: url('../pic/animals/she.png')!important;
}
.new-niu {
  
  background: url('../pic/animals/niu.png')!important;
}
.new-panda {
  
  background: url('../pic/animals/panda.png')!important;
}
.new-shizi {
  
  background: url('../pic/animals/shizi.png')!important;
}
.new-tuzi {
  
  background: url('../pic/animals/tuzi.png')!important;
}
.new-qie {
  
  background: url('../pic/animals/qie.png')!important;
}
.new-pig {
  
  background: url('../pic/animals/pig.png')!important;
}

.daxiang {
  animation: daxiang 7s linear;
  right: 23%;
  top: 35%;
  display: block;
}
.baozi {
  animation: baozi 7s linear;
  right: -10%;
  top: 55%;
  display: block;
}
.fenghuang {
  animation: fenghuang 7s linear;
  right: 45%;
  top: -5%;
  display: block;
}
.banma {
  animation: banma 7s linear;
  right: 23%;
  top: 54%;
  display: block;
}
.changjinglu {
  animation: changjinglu 7s linear;
  right: 31%;
  top: 37%;
  display: block;
}
.dog {
  animation: dog 7s linear;
  right: 35%;
  top: 40%;
  display: block;
}
.she {
  animation: she 7s linear;
  right: 15%;
  top: 40%;
  display: block;
}

@keyframes daxiang {
  0% { right: 10%; top: 15%;transform: scale(0.2);}
  100% { right: 23%; top: 35%;transform: scale(0.6); }
}
@keyframes baozi {
  0% { right: 15%; top: 15%;transform: scale(0.2);}
  100% { right: -10%; top: 45%;transform: scale(0.6); }
}
@keyframes fenghuang {
  0% { right: 60%; top: 10%;transform: scale(0.2);}
  100% { right: 45%; top: -5%;transform: scale(0.6); }
}
@keyframes banma {
  0% { right: 30%; top: 20%;transform: scale(0.2);}
  100% { right: 23%; top: 54%;transform: scale(0.6); }
}
@keyframes changjinglu {
  0% { right: 40%; top: 20%;transform: scale(0.2);}
  100% { right: 31%; top: 37%;transform: scale(0.6); }
}
@keyframes dog {
  0% { right: 50%; top: 20%;transform: scale(0.2);}
  100% { right: 35%; top: 40%;transform: scale(0.6); }
}
@keyframes she {
  0% { right: 10%; top: 15%;transform: scale(0.2);}
  100% { right: 15%; top: 40%;transform: scale(0.6); }
}



/*1s后出场动物 猴子 鸡 老虎 老鹰 龙 老鼠 羊*/
.houzi {
  animation: houzi 6s linear;
  right: 0%;
  top: 50%;
  display: block;
}
.ji {
  animation: ji 6s linear;
  right: 10%;
  top: 55%;
  display: block;
}
.laoying {
  animation: laoying 6s linear;
  right: 33%;
  top: -8%;
  display: block;
}
.long {
  animation: long 6s linear;
  right: 16%;
  top: 5%;
  display: block;
}
.laoshu {
  animation: laoshu 6s linear;
  right: 38%;
  top: 55%;
  display: block;
}
.yang {
  animation: yang 6s linear;
  right: 6%;
  top: 40%;
  display: block;
}
.laohu {
  animation: laohu 6s linear;
  right: 30%;
  top: 50%;
  display: block;
}
@keyframes houzi {
  0% { right: 10%; top: 15%;transform: scale(0.2);}
  100% { right: 0%; top: 50%;transform: scale(0.6); }
}
@keyframes ji {
  0% { right: -10%; top: 15%;transform: scale(0.2);}
  100% { right: 10%; top: 55%;transform: scale(0.6); }
}
@keyframes laoying {
  0% { right: 70%; top: 15%;transform: scale(0.2);}
  100% { right: 33%; top: -8%;transform: scale(0.6); }
}
@keyframes long {
  0% { right: 10%; top: 15%;transform: scale(0.2);}
  100% { right: 16%; top: 5%;transform: scale(0.6); }
}
@keyframes laoshu {
  0% { right: 60%; top: 15%;transform: scale(0.2);}
  100% { right: 38%; top: 55%;transform: scale(0.6); }
}
@keyframes yang {
  0% { right: 10%; top: 15%;transform: scale(0.2);}
  100% { right: 6%; top: 40%;transform: scale(0.6); }
}
@keyframes laohu {
  0% { right: 25%; top: 15%;transform: scale(0.2);}
  100% { right: 30%; top: 50%;transform: scale(0.6); }
}

 /*2s后出场 牛 熊猫 猪 企鹅 狮子 兔子*/
 .niu {
   animation: niu 5s linear;
   right: 50%;
   top: 50%;
   display: block;
 }
 .panda {
   animation: pande 5s linear;
   right: -15%;
   top: 40%;
   display: block;
 }
 .pig {
   animation: pig 5s linear;
   right: 0%;
   top: 50%;
   display: block;
 }
 .qie {
   animation: qie 5s linear;
   right: 41%;
   top: 40%;
   display: block;
 }
 .shizi {
   animation: shizi 5s linear;
   right: -15%;
   top: 55%;
   display: block;
 }
 .tuzi {
   animation: tuzi 5s linear;
   right: -15%;
   top: 50%;
   display: block;
 }
 /*牛 熊猫 猪 企鹅 狮子 兔子*/
 @keyframes niu {
   0% { right: 65%; top: 15%;transform: scale(0.2);}
   100% { right: 50%; top: 50%;transform: scale(0.6); }
 }
 @keyframes panda {
   0% { right: 75%; top: 30%;transform: scale(0.2);}
   100% { right: 55%; top: 40%;transform: scale(0.6); }
 }
 @keyframes pig {
   0% { right: 66%; top: 15%;transform: scale(0.2);}
   100% { right: 60%; top: 50%;transform: scale(0.6); }
 }
 @keyframes qie {
   0% { right: 47%; top: 25%;transform: scale(0.2);}
   100% { right: 41%; top: 40%;transform: scale(0.6); }
 }
 @keyframes shizi {
   0% { right: 10%; top: 35%;transform: scale(0.2);}
   100% { right: -15%; top: 55%;transform: scale(0.6); }
 }
 @keyframes tuzi {
   0% { right: 20%; top: 15%;transform: scale(0.2);}
   100% { right: -15%; top: 50%;transform: scale(0.6); }
 }

.jump {
  animation: jump 0.5s linear;
  top: 60%
}
 @keyframes jump {
   0% { top: 60%;}
   50% { top: 53%}
   100% { top: 60%;}
 }
.show {
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background-color: white;
  z-index: 33;
}
.train-gif {
  position: relative;
  /*min-width: 1200px;*/
}
.number {
  min-width: 50px;
  min-height: 40px;
  width: 5%;
  height: 6%;
  background-color: #ffffff;
  border-radius: 5px;
  opacity: 0.6;
  font-family: '微软雅黑',sans-serif;
  text-align: center;
  font-size: 40px;
  line-height: 53px;
}

 @keyframes tran {
   0% { transform: scale(1) }
   50% { transform: scale(0.5) }
   100% { transform: scale(1) }
 }

.num-icon {
  animation: tran 0.2s linear;
}

.one {
  position: fixed;
  z-index: 40;
  bottom: 75px;
  left: 20.4%;
  background-color: #ca0083;
  opacity: 0.6;
}
.two {
  position: fixed;
  z-index: 40;
  bottom: 75px;
  left: 30.4%;
  background-color: #df6d00;
  opacity: 0.6;
}
.three {
  position: fixed;
  z-index: 40;
  bottom: 75px;
  left: 41%;
  background-color: #df6d00;
  opacity: 0.6;
}
.four {
  position: fixed;
  z-index: 40;
  bottom: 75px;
  left: 51%;
}
.five {
  position: fixed;
  z-index: 40;
  bottom: 75px;
  left: 61%;
}
.six {
  position: fixed;
  z-index: 40;
  bottom: 75px;
  left: 71%;
}
.seven {
  position: fixed;
  z-index: 40;
  bottom: 75px;
  left: 81%;
}
.eight {
  position: fixed;
  z-index: 40;
  bottom: 75px;
  left: 91%;
}
